/* Variables */

$montserrat: 'Montserrat', sans-serif;
$noto: 'Noto Serif', serif;
$roboto: 'Roboto Slab', serif;
$color-one:#fff;
$color-two:#fed136;
$color-three:#222222;
$color-four: #777777;

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Header */

.welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.welcome::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.postimg.cc/dtQGQCB2/Background-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    padding-left: 100px;
}

.navigation {
    padding-left: 0;
}

.navigation ul {
    list-style: none;
    padding-right: 30px;
}

.navigation ul li {
    margin: 45px 20px;
    display: inline-block;
}

.navigation ul li a {
    color: $color-one;
    font-family: $montserrat;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: .3s;
}

.navigation ul li a:hover {
    color: #ccc;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24vh;
    z-index: 1;
    text-align: center;
}

.wrapper h2 {
    font-family: $noto;
    font-size: 40px;
    color: $color-one;
    font-weight: 300;
    margin-bottom: 25px;
}

.wrapper h1 {
    font-family: $montserrat;
    font-size: 75px;
    font-weight: 700;
    color: $color-one;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.wrapper button {
    background: $color-two;
    width: 240px;
    height: 65px;
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $color-one;
    border-radius: 5%;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;
}

.wrapper button:hover {
    transform: scale(1.05, 1.05);
}

/* Section Services */

.services .col-12:first-of-type {
    text-align: center;
    margin: 120px 0 80px 0;
}

.services .col-12:first-of-type h3 {
    font-family: $montserrat;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: 700;
    color: $color-three;
}

.services .col-12:first-of-type span {
    color: $color-four;
    font-family: $noto;
    font-size: 16px;
}

.services .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 28px;
}

.services button {
    color: $color-two;
    border: 3px solid $color-two;
    border-radius: 50px;
    background-color: $color-one;
    font-size: 38px;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 28px;
    cursor: pointer;
    transition: .3s;
}

.services button:hover {
    transform: scale(1.05, 1.05);
}

.service h4 {
    color: $color-three;
    font-family: $montserrat;
    font-size: 18px;
    margin-bottom: 15px;
}

.service p {
    color: $color-four;
    font-family: $roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.35px;
    margin-bottom: 120px;
}